
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(white, #7eb6e2);
  font-family: 'Hepta Slab', serif;
  text-align: center;
}

.app-container h1 {
  color: #1d4faa;
}

.results-container, .address-fields {
  margin:auto;
  max-width: 600px;
  width: 100%
}

.address-fields {
  display: flex;
  flex-direction: column
}

.address-fields button,.address-fields input {
  height: 2.5rem;
  padding: 0 1rem; 
  border: none;
  margin: .5rem;
  border-radius: 5px;
  font-size: 1rem;
  border-radius: 1.25rem; 
  box-shadow: 0 0 6px #00000050
}

.address-fields button {
  background:  #5a83ce;
  color: white;
  font-family: 'Hepta Slab', serif;
  cursor: pointer;
  letter-spacing: .1rem;
  
}

.meeting-type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.meeting-type-list button {
  width: 6rem;
  font-size: .8rem;
  padding: .5rem;
  height: auto;
  outline: none;
}
.meeting-type-list button:hover, .meeting-type-list .active {
  background: orange
}

.errors { 
  color: red;
  font-size: .75rem;
  padding: 0 .75rem;
}

.address-errors {
  color: red;
  font-weight: bold
}

.each-location {
  border-radius: .5rem;
  background: #e9faff;
  box-shadow: 0 0 10px 6px #0000001f;

}

.app-row {
  display: flex;
  width: 100%;
  margin: 1.25rem 0;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;

}

.row-text {
  padding: .5rem 1rem;
 }

.app-row img{
  height: 6rem;
  width: 6rem;
  border-radius: 8px 0 0;
  object-fit: cover
} 

.app-row p {
  margin: 0;
  line-height: 1.5rem
}

.category-list {
  display: flex;
  flex-wrap: wrap
}
.category-tag {
  padding: .2rem .4rem;
  margin: .25rem .5rem 0 0;
  background: #90a1c2;
  color: white;
  border-radius: .25rem;
  font-size: 14px;
}

span.price-text {
  font-size: .75rem;
  padding: .2rem .2rem .2rem .4rem;
  background: #71cf7c;
  color: white;
  border-radius: .25rem;
  letter-spacing: .2rem;
}

@media screen and (max-width: 465px) {
  h1 {
    font-size: 1.6rem;
  }
}
